
{{#if error}}

  {{error}}: {{url}}

{{else}}

  {{#if youtube}}

    {{{youtube.html}}}
    {{#if og.title}}
      {{og.title}}
    {{/if}}
  {{else}}
  
    <a href="{{url}}" target=_blank>
  
    {{#if imageURL}}
    <img src="{{imageURL}}" />
    {{/if}}
  
    {{#if og.image  }}
      <img src="{{og.image}}" class="og" />
    {{else}}
      {{#if faviconUrl}}
        <img src="{{faviconUrl}}" />
      {{/if}}
    {{/if}}
      
    {{#if og.title}}
      {{og.title}}
    {{else}}
      {{#if title}}
        {{title}}
      {{else}}
        {{url}}
      {{/if}}
    {{/if}}  
    
    </a>
  
  {{/if}}
{{/if}}
