
{{#if faviconUrl}}
  <img src="{{faviconUrl}}" />
{{/if}}


<a href="{{url}}" target=_blank>
{{#if imageURL}}
<img src="{{imageURL}}">
{{/if}}

{{#if title}}
  {{title}}
{{else}}
  {{url}}
{{/if}}

</a>
